/* button:hover{background-color: red;}
/* ul li:first-child{color:blue;}

ul li:last-child{color:red;} */
/* li:first-child{font-size: 40px;} */
/* ul li:nth-child(odd){color:blue;} */

/* p::first-word{color:red;}
a::after{content: '           

di
ul li:: */ 

p{border:2px solid red;
box-shadow:inset 3px 5px 2px black;}
.good{background-color: red;
height: 50vh;}
h1{line-height: 50vh;}